---
layout: default
---  

<!-- The posts -->
  <div class="col">
    {% for post in site.posts %}
    <article class="box" id="{{ post.title }}">
			<div class="panel panel-default">
			  <div class="panel-heading"><h3 class="panel-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3></div>
					<div class="panel-body">
					  <span><h4>{{ post.date | date:'%B %d, %Y' | replace:' 0',' ' }}</h4>
						  {{ post.content }}</span>
					</div>
			</div>
    </article>
    {% endfor %} 
  </div>




  <!-- The agenda -->
  <div class="col">
    <div class="box" id="sidebar">
      <div class="panel panel-primary">
		  <div class="panel-heading"><h3 class="panel-title">Social Media</h3></div>
		  <div class="panel-body">
			 <h4><!-- <span style="margin-right:.1em">Social Media:</span> -->
            <span style="margin-right:.2em"><a href="https://www.facebook.com/"><i class="fa fa-facebook-square solo fa-lg"></i></a></span>
            <span style="margin-right:.2em"><a href="https://twitter.com/"><i class="fa fa-twitter-square solo fa-lg"></i></a></span>
            </h4>
		  </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Paginator stuff -->
<div class="text-center">
  {% if paginator.total_pages > 1 %}
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
    {% else %}
    <li class="disabled"><a href="#">&laquo; Prev</a>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <li class="active"><a href="#">{{ page }}</a></li>
      {% elsif page == 1 %}
      <li><a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
      {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
      {% else %}
      <li class="disabled"><a href="#">Next &raquo;</a href="#"></li>
      {% endif %}
  </ul>
  {% endif %}
</div>
