<div class="page-header">
  <div class="panel panel-default jumbotron-header jumbotron">
    <div class="panel-body">
        <img src="/images/headshot.jpg" alt="Michelle Plunkett" style="width:25%" align="right" />
      <h1><a href="/" style="text-decoration: none" color: black; >{{ site.title }}</a></h1>
			<h3>Future Arts Administrator & Oboist</h3>
            <h4>
            <span style="margin-right:.2em"><a href="https://www.facebook.com/michellejane"><i class="fa fa-facebook-square solo fa-lg"></i></a></span>
            <span style="margin-right:.2em"><a href="https://twitter.com/michelleisatwin"><i class="fa fa-twitter-square solo fa-lg"></i></a></span>
            <span style="margin-right":.2em><a href="https://www.linkedin.com/in/michellejane"><i class="fa fa-linkedin-square solo fa-lg"></i></a></span>
            </h4>
    </div>
  </div>
</div>

<!--
<div class="alert alert-dismissable alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Pardon the dust</h4>
    <p>Please pardon the dust, my website is still under construction.</p>
</div>
-->
