<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li {% if page.title == 'Home' %} class="active" {% endif %} >
        <a href="/">Home</a>
      </li>
      <li {% if page.title == 'About' %} class="active" {% endif %} >
        <a href="/about.html">About</a>
      </li>
      <li {% if page.title == 'Resume' %} class="active" {% endif %} >
        <a href="/resume.html">Resume</a>        
      </li>
      <li>
          <a href="#">THEA 452 <span class="arrow">&#9660;</span></a>
          <ul class="sub-menu">
            <li><a href="/thea452.html">THEA 452 Blogs</a></li>
            <li><a href="/discussions.html">THEA 452 Discussions</a></li>
            <li><a href="/reflections.html">THEA 452 Reflections</a></li>
          </ul>
      <li {% if page.title == 'Blog' %} class="active" {% endif %} >
        <a href="/blog.html">Blog</a>
      </li>
      </li>
    </ul>
  </div>
</div>
