<div class="menu-wrap">
  <nav class="menu">
    <ul class="clearfix">
      <li {% if page.title == 'Home' %} class="active" {% endif %} >
        <a href="/">Home</a>
      </li>
      <li {% if page.title == 'About' %} class="active" {% endif %} >
        <a href="/about.html">About</a>
      </li>
      <li {% if page.title == 'Resume' %} class="active" {% endif %} >
        <a href="/resume.html">Resume</a>        
      </li>
      <li>
          <a href="#">THEA 452 <span class="arrow">&#9660;</span></a>
          <ul class="sub-menu">
            <li><a href="/thea452.html">THEA 452 Blogs</a></li>
            <li><a href="/discussions.html">THEA 452 Discussions</a></li>
            <li><a href="/reflections.html">THEA 452 Reflections</a></li>
            <li><a href="/blog.html">Blog</a></li>
          </ul>  
      </li>
      </li>
    </ul>
  </nav>
</div>
