<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li {% if page.title == 'Home' %} class="active" {% endif %} >
        <a href="/">Home</a>
      </li>
      <li {% if page.title == 'About' %} class="active" {% endif %} >
        <a href="/about.html">About</a>
      </li>
      <li {% if page.title == 'Resume' %} class="active" {% endif %} >
          <a href="/resume.html">Resume</a>        
      </li>
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">THEA 452 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/thea452.html">Blogs</a></li>
            <li><a href="/discussions.html">Discussions</a></li>
            <li><a href="/reflections.html">Reflections</a></li>
            <li><a href="/thea452finalproject.html">Final Project</a></li>
          </ul>
        </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/compositions.html">Compositions</a></li>
          </ul>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Writing Samples <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/writing/_posts/2016-06-16-INFO202Final.html">INFO 202 Final</a></li>
          </ul>
      </li>
      <li {% if page.title == 'Videos' %} class="active" {% endif %} >
          <a href="/videos.html">Videos</a>        
      </li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li {% if page.title == 'Contact Me' %} class="active" {% endif %}><a href="/contactme.html">Contact Me</a></li>
      </ul> -->
  </div>
</div>
